.categories-navbar {
    margin-bottom: 1em;
    .carousel-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        transition: all 0.25s ease-in;

        .item-list {
            display: flex;
            width: inherit;
            gap: 0.5em;
            scroll-behavior: smooth;
            transition: all 0.25s ease-in;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow: auto; scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                display: none;
            }

            .cat-item {
                border: 2px solid transparent;
                padding: .25em;
                scroll-snap-align: start;
                border-radius: 0.25em;
                color: var(--cppmoderno-grayish-text);
                cursor: pointer;
                &:hover{
                    border-radius: .25em;
                    background-color: var(--cppmoderno-global-btn-bg);
                    color: white;
                    transition: all 0.1s ease-in-out;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    .prev-btn, .next-btn {
        border: none;
        background: none;
        padding: 0 6px;
        cursor: pointer;
    }
    
}