#navbarNavDropdown a.nav-link {
    &:hover {
        color: var(--global-palette-highlight-alt);
        transition: all 0.25s ease-in-out;
    }
}

#dropdownMenuButton.dropdown-toggle {
    font-size: 1em;
    font-weight: 500;
    &:hover {
        color: var(--global-palette-highlight-alt);
        transition: all 0.25s ease-in-out;
    }
}

#main-nav {
    .site-description {
        color: var(--global-palette-btn-bg-hover);
    }
    .wp-block-search__input {
        background-color: transparent;
        border-color: black;
    }
}