.pagination-nav {
    margin: var(--cppmoderno-global-lg-spacing) auto;

    ul {
        gap: 1em;

        .page-item {
            &>* {
                padding: 0;
            }

            min-width: 2.5em;
            line-height: 2.25em;
            text-align: center;
            border-radius: .25em;

            .active {
                .page-link {
                    border-radius: 0.25em;
                    background-color: var(--cppmoderno-global-btn-bg);
                    border-color: var(--cppmoderno-global-btn-bg);
                }
            }

            &:not(.active) {
                border: 2px solid transparent;
                &:hover {
                    border-color: var(--cppmoderno-global-btn-bg);
                }

                .page-link {
                    border: none;
                    border-radius: 0.25em;
                    color: inherit;
                    &:hover {
                        background-color: var(--cppmoderno-global-bg-color);
                    }
                }

                &:not(:first-child) {
                    .page-link {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}