// SCSS rules for the ordinary content
.row {
    .posts-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;

        article {
            display: flex;
        }

        .post-card {
            flex-grow: 1;

            .entry-header {
                .archive-post-tags {

                    margin-bottom: 0.5em;
                    letter-spacing: .05em;
                    font-size: 70%;
                    text-transform: uppercase;
                    color: rgba(37, 38, 94, 0.8);

                    a {
                        color: var(--global-palette-highlight);
                        font-weight: bold;
                        text-decoration: none;
                    }
                }

                .entry-title {
                    line-height: 20px;

                    a {
                        font-weight: 700;
                        font-size: var(--global-kb-font-size-md, 1.25rem);
                        text-decoration: none;
                        color: var(--global-palette3);
                    }
                }

                .entry-meta {
                    font-size: 80%;
                    margin: 1em 0;

                    a {
                        text-decoration: none;
                    }
                }
            }



        }
    }

    .wp-block-kadence-posts {
        .loop-entry {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 8px -3px var(--global-palette3);

            .entry-content-wrap {
                padding: 1.5rem;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .entry-header {
            .entry-taxonomies {
                .category-links {
                    a {
                        font-weight: 600;
                        transition: all 0.1s linear;
                        color: var(--global-palette-highlight);

                        &:hover {
                            color: var(--global-palette-highlight-alt);
                        }
                    }
                }
            }

            .entry-title {
                    font-weight: 700;

                    a {
                        color: inherit;
                        text-decoration: none;
                        font-weight: 600;

                        &:hover {
                            color: var(--global-palette-highlight-alt);
                        }
                    }
            }
        }
    }
}