// SCSS rules for the single posts page
code {
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #d3dce5;
    padding: 0 4px;
    margin: 0 2px;
    color: inherit;
}

#main {
    .entry-content {

        hr {
            opacity: 1;
            color: rgba(37, 38, 94, 0.8);
        }

        .wp-block-separator {
            max-width: 160px;
            border-top: 2px solid;
            margin-left: auto;
            margin-right: auto;
        }

        figcaption.wp-element-caption {
            text-align: center;
            color: black;
        }

        // Enlighter section for code formatting
        .enlighter-default {
            border-radius: 5px;

            &>.enlighter-code {
                border-radius: 5px;
                padding: 10px 0;

                .enlighter span {
                    font-size: 16px;
                    font-family: ui-monospace, SFMono-Refular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }

        a.m-a-box-name-url {
            text-decoration: none;
            color: var(--global-palette3);
        }

    }
}

// Table of contents styling
// It has been extracted from the #main block
// because the TOC also exists in the sidebar
.lwptoc {
        .lwptoc_i {
            background: var(--wp--preset--color--white) !important;
        }

    li.lwptoc_item {

        &::before {
            content: "\2022";
            color: #1b41c7;
            margin-right: 0.5em;
        }

        ul>li.lwptoc_item {
            font-size: 95%;

            &::before {
                content: "\2014";
                color: #1b41c7;
                margin-right: 0.5em;
            }
        }
    }
}