// SCSS rules for the single posts page
code {
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #d3dce5;
    padding: 0 4px;
    margin: 0 2px;
    color: inherit;
}

#main {
    .cppmoderno-post-image {
        display: flex;

        img {
            flex: 1;
        }
    }

    .entry-content {

        hr {
            opacity: 1;
            color: rgba(37, 38, 94, 0.8);
        }

        h2 {
            font-size: min(28px, 2rem);
            line-height: 1.5;
            margin: .5em 0 0.5em;
        }

        ul {
            text-align: justify;
        }

        address,
        figure,
        hr,
        p,
        table,
        pre,
        form,
        .wp-block-buttons,
        .wp-block-button,
        .wc-block-grid,
        .wp-block-kadence-advancedbtn,
        .wp-block-media-text,
        .wp-block-cover,
        -asset,
        .wp-block-kadence-form,
        .wp-block-group,
        .wp-block-yoast-faq-block,
        .wp-block-yoast-how-to-block,
        .schema-faq-section,
        .wp-block-kadence-tableofcontents,
        .enlighter-default,
        .wp-block-kadence-iconlist,
        [class*=__inner-content] {
            margin-top: 0;
            margin-bottom: var(--global-md-spacing)
        }

        .wp-block-separator {
            &:not(.is-style-wide) {
                max-width: 160px;
            }

            border-top: 2px solid;
            margin-left: auto;
            margin-right: auto;
        }

        figcaption.wp-element-caption {
            text-align: center;
            color: black;
        }

        // Enlighter section for code formatting
        .enlighter-default {
            border-radius: 5px;

            &>.enlighter-code {
                border-radius: 5px;
                padding: 10px 0;

                .enlighter span {
                    font-size: 16px;
                    font-family: ui-monospace, SFMono-Refular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }

        .m-a-box-item {
            a.m-a-box-name-url {
                text-decoration: none;
                color: var(--global-palette3);
            }

            .m-a-box-bio {
                text-align: justify;
            }
        }

    }
}

// Table of contents styling
// It has been extracted from the #main block
// because the TOC also exists in the sidebar
.lwptoc {
    .lwptoc_i {
        background: var(--wp--preset--color--white) !important;
    }

    li.lwptoc_item {

        &::before {
            content: "\2022";
            color: #1b41c7;
            margin-right: 0.5em;
        }

        ul>li.lwptoc_item {
            font-size: 95%;

            &::before {
                content: "\2014";
                color: #1b41c7;
                margin-right: 0.5em;
            }
        }
    }
}