// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    font-family: "Plus Jakarta Sans", sans-serif
}

.site-header {
    padding: 0;
}

.site-branding {
    display: flex;
    align-items: center;

    .custom-logo {
        a {
            display: block;
        }

        img {
            max-height: 100px;
            width: auto;
        }
    }

    .site-title {
        font-family: Roboto, sans-serif;
    }

    .home-link {
        color: #000000;
        text-decoration: none;
    }
}