// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    font-family: "Plus Jakarta Sans", sans-serif
}

.site-header {
    padding: 0;

    .cppmoderno-search-button {
        margin-left: 0px;
    }
}

.site-branding {
    display: flex;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    .custom-logo {
        a {
            display: block;
        }

        img {
            max-height: 100px;
            width: auto;
        }
    }

    .site-title {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        font-family: Roboto, sans-serif;
    }

    .site-description {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
    }

    .home-link {
        color: #000000;
        text-decoration: none;
    }
}

.site-main {
    .left-side-hero {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-size: $cppmoderno-text-huge;
        }
    }

    .call-to-learn-card {

        .call-to-learn-wrapper {
            gap: 1.5em;
            display: flex;
            padding: 0;
        }

        h2 {
            font-weight: 600;
        }

        a {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            color: rgb(33, 37, 41);

            img {
                // width: 30px;
                height: 30px;
            }
        }
    }
}