// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// $purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$purple: #1b41c7; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;
$cppmoderno-text-huge: clamp(2.25rem, 1.4688rem + 2.5000vw, 3.5rem);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1280px
);

$cppmoderno-body-line-height: 1.75em;
$cppmoderno-body-font-color: rgba(37, 38, 94, 0.8);

:root {
  --cppmoderno-global-md-spacing: 2rem;
  --cppmoderno-global-lg-spacing: 2.5rem;
  --cppmoderno-global-btn-bg: #1b41c7;
}