// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "../assets/cppmoderno/archive";
@import "../assets/cppmoderno/posts";
@import "../assets/cppmoderno/single-post";
@import "../assets/cppmoderno/pagination";
@import "../assets/cppmoderno/right-sidebar";


:root {
    --global-palette-highlight: #1b41c7;
    --global-palette-highlight-alt: #1f3278;
    --global-palette-black: rgba(36, 40, 57);
    --global-palette-black-nav: #040404;
    --global-palette-transparent-gray: rgba(37, 38, 94, 0.8);
}

body {
    font-family: $font-family-sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: $cppmoderno-body-line-height;
    color: $cppmoderno-body-font-color;
    // "Plus Jakarta Sans", sans-serif;

    .has-text-align-justify {
        text-align: justify;
    }

    .wp-block-heading {
        font-weight: 700;
        color: var(--global-palette3)
    }

    h1, h5 {
        font-weight: 700;
        color: var(--global-palette3);
    }

    h2, h1 {
        font-weight: 600;
        color: var(--global-palette3);
    }

    a {
        color: var(--global-palette-highlight);
    }

}

.site-header {

    #main-nav {
        background: linear-gradient(180deg, rgba(31, 50, 120, 0.57) 0%, #fff 100%) !important;

        a {
            color: var(--global-palette-black-nav);
        }
    }

    padding: 0;

    .cppmoderno-search-button {
        margin-left: 0px;
    }

    #dropdownMenuButton {
        border: 0;
    }
}

.site-branding {
    display: flex;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    .custom-logo {
        a {
            display: block;
        }

        img {
            max-height: 100px;
            width: auto;
        }
    }

    .site-title {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        font-family: Roboto, sans-serif;
    }

    .site-description {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
    }

    .home-link {
        color: #000000;
        text-decoration: none;
    }
}

.site-main {

    .left-side-hero {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-size: $cppmoderno-text-huge;
        }
    }

    .call-to-learn-card {

        border: 0px;
        padding-left: 0;

        .card-body {
            padding-left: 0;
        }

        .call-to-learn-wrapper {
            gap: 1.5em;
            display: flex;
            padding: 0;
        }

        a {
            padding: 12px 12px 12px 16px;
            box-shadow: 0px 8px 12px rgba(2, 30, 84, .06);
            border: 1px solid lightgray;
            display: inline-flex;
            align-items: center;
            gap: 5px;
            color: var(--global-palette-black);
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1) !important;
            }

            img {
                height: 30px;
            }
        }

    }

    .entry-taxonomies {
        font-size: 75%;

        a {
            color: var(--global-palette-highlight);
            transition: all .1s linear;

            :hover,
            :active,
            :focus {
                color: var(--global-palette-highlight-alt);
            }
        }
    }

    .entry-meta {
        * {
            color: var(--global-palette-transparent-gray);
            font-weight: 500;
        }
    }
}

#wrapper-footer {
    background: linear-gradient(180deg, #f5f5f8 0%, rgba(31, 50, 120, 0.57) 100%);
}